<connectionStrings>
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-StoreFront-20211102080401.mdf;Initial Catalog=aspnet-StoreFront-20211102080401;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=StoreFront;Integrated Security=true" providerName="System.Data.SqlClient" />
  <add name="StoreFrontEntities" connectionString="metadata=res://*/StoreFrontModels.csdl|res://*/StoreFrontModels.ssdl|res://*/StoreFrontModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=StoreFront;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>