<connectionStrings>
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-StoreFront-20211102080401.mdf;Initial Catalog=aspnet-StoreFront-20211102080401;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=StoreFront-2-1-alpha1;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
</connectionStrings>