@{
    ViewBag.Title = "Mulligan!";
}
@*---This is our basic, custom error page. No specific info for user, but it's a better
    user experience (same "site-feel"/nav, etc) and less info for hackers to use against us
    than the standard, scary, detailed ASP.NET Exception page.*@
<div class="col-md-12 text-center">
    <h1 class="pickles">@ViewBag.Title</h1>
    <h2 class="text-danger">An Error Has Occurred</h2>
    <p>
        That was not supposed to happen! We will get right to work trying to fix the issue.<br />
        In the meantime, you can <a href="/">click here to return to the home page</a>, or try again.
        If behavior persists, please contact site administrator.
    </p>
    <img src="~/Content/assets/img/golf-mulligan.png" style="height: 471px; width: 338px;" />
</div>

@section htmlHead {
    <link href="https://fonts.googleapis.com/css?family=Freckle+Face" rel="stylesheet">
    <style>
        .pickles {
            font-family: 'Freckle Face', cursive;
            color: #006600;
            text-shadow: 3px 3px 3px #000;
            font-size: 7em;
        }
    </style>
}